<section ng-controller="ColaboradorController as controller" ng-init="controller.carregarLista(1); controller.carregarGrupos(); controller.carregaListaUF(); controller.carregarCargos();">

    <div class="panel-heading">
        <h3>Colaborador</h3>
    </div>


    <div class="panel">

        <div class="col-md-4 col-sm-4">
            <div class="form-group">
                <label class="control-label">Nome</label>
                <input type="text" class="form-control" maxlength="50" ng-model="controller.filtroParam.nome">
                <span class="material-input"></span>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="form-group is-empty">
                <label class="control-label">Cargo</label>
                <select class="form-control" ng-model="controller.filtroParam.cargo" ng-options="car.id as car.nome for car in controller.cargos"></select>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="form-group">
                <label class="control-label">CPF</label>
                <input type="text" class="form-control" ui-mask="999.999.999-99" maxlength="14" ng-model="controller.filtroParam.cpf">
                <span class="material-input"></span>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="form-group is-empty">
                <label class="control-label">Sexo</label>
                <select class="form-control" ng-model="controller.filtroParam.sexo" ng-options="sx.id as sx.nome for sx in controller.sexo"></select>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="form-group is-empty">
                <label class="control-label">Perfil (Grupo)</label>
                <select class="form-control" ng-model="controller.filtroParam.grupo" ng-options="opt.id as opt.nome for opt in controller.grupos"></select>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="form-group">
                <label class="control-label">E-mail</label>
                <input type="text" class="form-control" ng-model="controller.filtroParam.email">
                <span class="material-input"></span>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="form-group">
                <label class="control-label">CREA</label>
                <input type="text" class="form-control" ng-model="controller.filtroParam.crea">
                <span class="material-input"></span>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="form-group is-empty">
                <label class="control-label">UF</label>
                <select class="form-control ddluf" ng-model="controller.filtroParam.uf" ng-change="controller.carregaListaMunicipio('listagem')" ng-options="opt.idUF as opt.uf for opt in controller.ufs"></select>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="form-group is-empty">
                <label class="control-label">Município</label>
                <select class="form-control ddlmunicipio" ng-model="controller.filtroParam.idMunicipio" ng-options="mun.idMunicipio as mun.municipio for mun in controller.municipios"></select>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="form-group">
                <label class="control-label">Data da Contratação</label>
                <input type="text" class="datepicker-here form-control" placeholder="" ui-mask="99/99/9999" maxlength="10" data-language='pt-BR' value="" ng-model="controller.filtroParam.dataContratacao">
                <span class="material-input"></span>
            </div>
        </div>


        <div class="col-md-12 col-xs-12">
            <div class="pull-right">
                <button class="btn btn-blue" ng-click="controller.carregarLista(1)">
                    <i class="fa fa-search"></i>
                    PESQUISAR
                </button>
                <button class="btn btn-blue" permission="editar" ng-click="controller.novo()">
                    <i class="fa fa-plus"></i>
                    NOVO
                </button>
            </div>
        </div>

    </div>



    <div class="lista-tarefas">
        <label ng-hide="controller.pagedlist.list.length > 0" class="col-xs-12 no-padding" style="text-align:center;">Nenhum registro encontrado.</label>
        <div class="tabela table-responsive" ng-hide="controller.pagedlist.list.length == 0">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th ng-click="controller.carregarLista(1, 'nome')">
                            Nome
                        </th>
                        <th>
                            Cargo
                        </th>
                        <th>
                            Telefone
                        </th>
                        <th>
                            E-mail
                        </th>
                        <th>
                            Perfil
                        </th>
                        <th colspan="3" scope="col" width="15%">
                            AÇÕES
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="colaborador in controller.pagedlist.list">
                    <tr>
                        <td>
                            {{colaborador.nome}} <p ng-if="colaborador.nome == '' || colaborador.nome == null">-</p>
                        </td>
                        <td>
                            {{colaborador.descricaoCargo}} <p ng-if="colaborador.descricaoCargo == '' || colaborador.descricaoCargo == null">-</p>
                        </td>
                        <td>
                            {{colaborador.telefonePrincipal}} <p ng-if="colaborador.telefonePrincipal == '' || colaborador.telefonePrincipal == null">-</p>
                        </td>
                        <td>
                            {{colaborador.email}} <p ng-if="colaborador.email == '' || colaborador.email == null">-</p>
                        </td>
                        <td>
                            {{colaborador.descricaoGrupo}} <p ng-if="colaborador.descricaoGrupo == '' || colaborador.descricaoGrupo == null">-</p>
                        </td>
                        <td class="fadeout-xs">
                            <button class="btn btn-simple btn-just-icon" title="Visualizar" permission="visualizarRegistro" ng-click="controller.visualizar(colaborador)">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <button ng-if="colaborador.editavel" class="btn btn-simple btn-just-icon" title="Editar" permission="editar" ng-click="controller.editar(colaborador)">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td class="fadeout-xs">
                            <button ng-if="colaborador.excluivel" class="btn btn-simple btn-just-icon" title="Excluir" permission="deletar" ng-click="controller.deletar(colaborador)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <ul class="pull-right pagination">
                <li ng-repeat="page in controller.pagedlist.pages" ng-class="page == controller.pagedlist.currentPage ? 'active' : ''"><a ng-click="controller.carregarLista(page)">{{page}}</a></li>
            </ul>
        </div>
    </div>
</section>
