<section ng-controller="LaudoController as controller" ng-init="controller.carregarPaginaCadastro()">

    <div class="panel-heading">
        <h3>Laudo</h3>
    </div>

    <div class="panel">

        <div class="col-md-4 col-sm-4">
            <div class="form-group">
                <label class="control-label">Data<span style="color:red">*</span></label>
                <input type="text" class="datepicker-here form-control dataRdo" ui-mask="99/99/9999" model-view-value="true" data-language='pt-BR' value="" ng-model="controller.cadastroParam.dataLaudo">
                <span class="material-input"></span>
            </div>
        </div>

        <div class="col-md-12 col-sm-12">
            <div class="tabela table-responsive">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                Item
                            </th>
                            <th scope="col" width="15%">
                                SIM
                            </th>
                            <th scope="col" width="15%">
                                NÃO
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Os níveis de CLORO estão entre 1ppm e 3ppm?
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.nivelCloro" ng-value="true">
                                    </label>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.nivelCloro" ng-value="false">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                O PH está entre 7,2 e 7,6?
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.ph" ng-value="true">
                                    </label>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.ph" ng-value="false">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                A LIMPIDEZ DA ÁGUA permite perfeita visibilidade da parte mais profunda do tanque?
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.limpidez" ng-value="true">
                                    </label>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.limpidez" ng-value="false">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                A superfície da água está livre de MATÉRIAS FLUTUANTES, estranhas à piscina?
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.superficie" ng-value="true">
                                    </label>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.superficie" ng-value="false">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                O fundo do tanque está LIVRE DE DETRITOS?
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.fundo" ng-value="true">
                                    </label>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.fundo" ng-value="false">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                O NÍVEL DE CLORO no tanque está mantido entre 0,8 a 3,0 mg/l?
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.nivelCloro2" ng-value="true">
                                    </label>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.nivelCloro2" ng-value="false">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                A piscina contém BACTÉRIAS DO GRUPO COLIFORME e/ou STAPHYLOCOCCUS AUREUS?
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.bacterias" ng-value="true">
                                    </label>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.bacterias" ng-value="false">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Há proliferação de ALGAS, LEVEDURAS E AMEBAS DE VIDA LIVRE na piscina?
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.proliferacao" ng-value="true">
                                    </label>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" ng-model="controller.cadastroParam.proliferacao" ng-value="false">
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label class="control-label">Comentários</label>
                <div class="input-group">
                    <textarea ng-disabled="(controller.cadastroParam.statusContratanteContratadaDonoRdo != controller.contratanteOucontratada) && controller.cadastroParam.statusContratanteContratadaDonoRdo != undefined && controller.cadastroParam.statusContratanteContratadaDonoRdo != ''" class="form-control" ng-model="controller.cadastroParam.comentario" maxlength="10000" rows="6" />
                    <div class="input-group-addon">
                        <div style="width: 125px;">
                            <button ng-click="controller.mudarTipoComentarioGeracao(1)" class="btn pull-left btn-transparent" aria-hidden="false">
                                <i ng-show="controller.cadastroParam.tipoComentarioGeracao == 2 || controller.cadastroParam.tipoComentarioGeracao == 0" class="fa fa-thumbs-o-up" aria-hidden="true" title="Positivo"></i>
                                <i ng-show="controller.cadastroParam.tipoComentarioGeracao == 1" class="fa fa-thumbs-up" aria-hidden="true"></i>
                            </button>
                            <button ng-disabled="(controller.cadastroParam.statusContratanteContratadaDonoRdo != controller.contratanteOucontratada) && controller.cadastroParam.statusContratanteContratadaDonoRdo != undefined && controller.cadastroParam.statusContratanteContratadaDonoRdo != ''" ng-click="controller.mudarTipoComentarioGeracao(2)" class="btn pull-left btn-transparent" aria-hidden="false">
                                <i ng-show="controller.cadastroParam.tipoComentarioGeracao == 1 || controller.cadastroParam.tipoComentarioGeracao == 0" class="fa fa-thumbs-o-down" aria-hidden="true" title="Negativo"></i>
                                <i ng-show="controller.cadastroParam.tipoComentarioGeracao == 2" class="fa fa-thumbs-down" aria-hidden="true"></i>
                            </button>
                        </div>

                    </div>
                </div>
                <span class="material-input"></span>
            </div>
        </div>

        <div class="col-xs-12 no-padding header-table">
            <h4>FOTOS</h4>
            <div class="habilitar">
                <label>Habilitar relatório fotográfico?</label>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="controller.mostrarFotos" ng-value="true">
                        Sim
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input checked type="radio" ng-checked="true" ng-model="controller.mostrarFotos" ng-value="false">
                        Não
                    </label>
                </div>
            </div>
        </div>

        <div ng-show="controller.mostrarFotos">
            <div class="no-padding col-xs-12">
                <label class="col-xs-12 control-label">Foto</label>
                <div class="col-md-6 col-sm-12 col-xs-12">

                    <div class="form-group">

                        <input type="file" ng-hide="controller.desabilitarCampos" accept=".png, .jpg, .jpeg, .bmp" ng-model="imageFile" base-sixty-four-input />

                        <label for="file" class="sr-only">{{imageFile.base64}}</label>

                        <div class="input-group col-xs-12" ng-hide="controller.desabilitarCampos">

                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 no-padding-left" ng-disabled="controller.desabilitarCampos || controller.cadastroParam.status == 1">

                                <input type="text" id="imgFileText" name="filename" class="form-control" placeholder="Nenhum arquivo selecionado (Tamanho Máx 2mb)" readonly>
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                            </div>

                            <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 no-padding">
                                <div class="btn btn-blue">
                                    ESCOLHER ARQUIVO
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <button class="btn btn-blue btn-block-xs" ng-hide="controller.desabilitarCampos" ng-click="controller.adicionarImagem()">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        ADICIONAR FOTO
                    </button>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <section class="galeria delete slider" ng-hide="controller.desabilitarCampos">
                    <a ng-click="controller.removerImagem(imagem, $index)" ng-repeat="imagem in controller.listaImagens track by $index">
                        <img ng-src='{{controller.getImage(imagem)}}' />
                    </a>
                </section>
                <section class="galeria slider" ng-hide="!controller.desabilitarCampos">
                    <a ng-click="" ng-repeat="imagem in controller.listaImagens track by $index">
                        <img ng-src='{{controller.getImage(imagem)}}' />
                    </a>
                </section>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-xs-12">
        <div class="pull-right">
            <button class="btn btn-blue" onclick="window.history.back()" <!--ng-click="controller.voltar()"-->
                                <i class="fa fa-arrow-left"></i>
                                VOLTAR
                            </button>
            <button class="btn btn-blue" ng-disabled="controller.desabilitarSalvar" ng-click="controller.salvar()">
                <i class="fa fa-save"></i>
                GERAR LAUDO
            </button>
        </div>
    </div>

    <div class="modal fade" id="visualizar-tarefa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="icon-close"></i>
                    </button>
                    <div class="panel-heading">
                        <h4>TAREFA</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Descrição</label>
                            <input type="text" class="form-control txbDescricaoTarefa" ng-disabled="true" ng-model="controller.tarefa.descricao">
                            <span class="material-input"></span>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Data Inicial Planejada</label>
                            <input type="text" class="datepicker-here form-control txbDataInicialPlanejada" ng-disabled="true" data-language='pt-BR' value="" ng-model="controller.tarefa.dataInicio">
                            <span class="material-input"></span>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Data Final Planejada</label>
                            <input type="text" class="datepicker-here form-control txbDataFinalPlanejada" ng-disabled="true" data-language='pt-BR' value="" ng-model="controller.tarefa.dataPrevisaoFim">
                            <span class="material-input"></span>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="form-group is-empty">
                            <label class="control-label">Status</label>
                            <select class="form-control ddlStatus" ng-model="controller.tarefa.status" ng-disabled="true" ng-options="st.id as st.nome for st in controller.statusTarefa"></select>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Quantidade de horas trabalhadas no dia</label>
                            <input type="text" class="form-control txbHorasTrabalhadas" ng-disabled="true" ng-model="controller.tarefa.horasTrabalhadas">
                            <span class="material-input"></span>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Quantidade Construída</label>
                            <input type="text" class="form-control txbQtdConstruida" ng-disabled="true" ng-model="controller.tarefa.qtdConstruida">
                            <span class="material-input"></span>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="form-group is-empty">
                            <label class="control-label">Unidade de medida</label>
                            <select class="form-control ddlUnidadeMedida" ng-disabled="true" ng-model="controller.tarefa.idUnidade" ng-options="op.id as op.nome for op in controller.unidadeMedida"></select>
                        </div>
                    </div>


                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Comentário</label>
                            <textarea name="" class="form-control txbComentario" ng-disabled="true" rows="3" ng-model="controller.tarefa.comentario" />
                            <span class="material-input"></span>
                        </div>
                    </div>



                </div>

                <div class="modal-footer">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-simple" data-dismiss="modal">
                            <i class="icon-close" aria-hidden="true" ng-click="controller.limparModalTarefa()"></i>
                            Cancelar
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade modal-fotos" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="icon-close"></i>
                    </button>
                    <!--<h4 class="modal-title" id="myModalLabel">FOTOS DA(S) TAREFA(S)</h4>-->
                </div>
                <div class="modal-body">
                    <img src="{{controller.foto}}" />
                </div>

            </div>
        </div>
    </div>
</section>