<section ng-controller="GraficoController as controller" ng-init="controller.carregarTelaGraficoRdo();">
    <div class="container page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>ACOMPANHAMENTO DE RELATÓRIOS DIÁRIOS<small></small></h1>
                </div>
            </div>
        </div><!-- end .page title-->


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title">CATEGORIAS</h4>
                    </div>
                    <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                    <div class="space-40"></div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="8%">#</th>
                                <th width="31%">Obra</th>
                                <th width="9%">Atrasados</th>
                                <th width="15%">Assinatura Contratada</th>
                                <th width="16%">Assinatura Contratante</th>
                                <th width="8%">Gerados</th>
                                <th width="7%">A Gerar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rdo in rdos">
                                <td>{{(rdos.indexOf(rdo)) + 1}}</td>
                                <td>{{rdo.obr_ds_obra}}</td>
                                <td>{{rdo.atrasado}}</td>
                                <td>{{rdo.assinado_contratada}}</td>
                                <!--<td>{{rdo.sem_ass_contratante}}</td>-->
                                <td>{{rdo.assinado_contratante}}</td>
                                <td>{{rdo.gerado}}</td>
                                <td>{{rdo.a_gerar}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div><!-- End .panel -->
            </div>
            <div class="col-sm-6">
                <!-- End .panel -->
            </div>
            <div class="col-sm-6">
                <!-- End .panel -->
            </div>
        </div>
    </div>
</section>