<div class="panel-heading">
    <h3>Unidade Escolar</h3>
</div>

<section ng-controller="ObraController as controller" ng-init="controller.carregarTelaCadastro();">

    <form id="form-cadastro-obra" class="panel">


        <div class="col-xs-12 col-md-3 col-sm-4 pull-right">
            <div class="pull-right form-group">
                <div class="radio-inline no-padding-xs">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" autofocus checked="checked" ng-change="controller.habilitarContratanteContratada()" ng-disabled="controller.desabilitarRadioContratanteContratada" validate="required" maxlength="50" ng-value="'t'" ng-model="controller.cadastroParam.contratanteContratada">
                            Contratante
                        </label>

                    </div>
                </div>
                <div class="radio-inline no-padding-xs">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" checked="" ng-change="controller.habilitarContratanteContratada()" ng-disabled="controller.desabilitarRadioContratanteContratada" ng-value="'d'" ng-model="controller.cadastroParam.contratanteContratada">
                            Contratada
                        </label>

                    </div>
                </div>
            </div>
        </div>
        <div class="flex-sm w-100">
            <div class="w-100">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Nome da Unidade Escolar<span style="color:red">*</span></label>
                        <input type="text" class="form-control" ng-disabled="controller.desabilitarCamposObra" maxlength="50" ng-model="controller.cadastroParam.descricao">
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Contratante</label>
                        <select class="form-control ddlContratante" ng-disabled="controller.desabilitarEscolhaContratante" ng-change="controller.verificarAdicaoColaborador()" ng-model="controller.cadastroParam.idContratante" ng-options="opt.idEmpresa as opt.nomeFantasia for opt in controller.empresas"></select>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Contratada</label>
                        <select class="form-control ddlContratada" ng-disabled="controller.desabilitarEscolhaContratada" ng-change="controller.verificarAdicaoColaborador()" ng-model="controller.cadastroParam.idContratada" ng-options="opt.idEmpresa as opt.nomeFantasia for opt in controller.empresas"></select>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Data inicial<span style="color:red">*</span></label>
                        <input type="text" class="datepicker-here form-control dataInicio" model-view-value="true" ng-disabled="controller.desabilitarCamposObra" ui-mask="99/99/9999" ng-model="controller.cadastroParam.dataInicio" data-language='pt-BR' value="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Data previsão final<span style="color:red">*</span></label>
                        <input type="text" class="datepicker-here form-control dataPrevisaoFim" ui-mask="99/99/9999" ng-disabled="controller.desabilitarCamposObra" model-view-value="true" ng-model="controller.cadastroParam.dataPrevisaoFim" data-language='pt-BR'>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Logradouro<span style="color:red">*</span></label>
                        <input type="text" class="form-control" ng-disabled="controller.desabilitarCamposObra" maxlength="50" ng-model="controller.cadastroParam.logradouro">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Número<span style="color:red">*</span></label>
                        <input type="text" class="form-control" maxlength="5" ng-disabled="controller.desabilitarCamposObra" ng-model="controller.cadastroParam.numeroEndereco">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Complemento</label>
                        <input type="text" class="form-control" maxlength="50" ng-disabled="controller.desabilitarCamposObra" ng-model="controller.cadastroParam.complemento">
                    </div>
                </div>

            </div>
            <!--Foto Logo==============-->
            <div class="foto-logo">
                <label class="control-label">Logo da Contratada</label>
                <span style="font-size: 12px; color: red;">Formatos: .jpeg, .jpg, .bmp e .png - Tamanho máximo: 2MB</span>
                <div class="avatar-upload img-obra" style="margin-top: 0px;">
                    <input type='file' class="upimage" accept=".png, .jpg, .jpeg, .bmp" custom-on-change="changeImage" />
                    <a ng-click="controller.removerImagem()" ng-hide="controller.imageFileObra == '' || controller.imageFileObra == 'Assets/images/add-img.png' || controller.imageFileObra == undefined" href="#" class="excluir"></a>
                    <div class="avatar-preview">
                        <img id="imagePreview" style="max-width: 100%; max-height: 100%;" class="image" src='{{ controller.cadastroParam.descricaoFoto }}' onerror="this.src = 'Assets/images/add-img.png'" />

                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
                <label class="control-label">CEP<span style="color:red">*</span></label>
                <input type="text" class="form-control" ui-mask="99999-999" ng-disabled="controller.desabilitarCamposObra" maxlength="9" ng-model="controller.cadastroParam.cep">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
                <label class="control-label">UF<span style="color:red">*</span></label>
                <select class="form-control ddluf" ng-model="controller.cadastroParam.idUf" ng-disabled="controller.desabilitarCamposObra" ng-change="controller.carregaListaMunicipio('cadastro')" ng-options="opt.idUF as opt.uf for opt in controller.ufs"></select>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
                <label class="control-label">Município<span style="color:red">*</span></label>
                <select class="form-control ddlmunicipio" ng-disabled="controller.desabilitarCamposObra" ng-model="controller.cadastroParam.idMunicipio" ng-options="mun.idMunicipio as mun.municipio for mun in controller.municipios"></select>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
                <label class="control-label">Bairro</label>
                <input type="text" class="form-control" maxlength="50" ng-disabled="controller.desabilitarCamposObra" ng-model="controller.cadastroParam.bairro">
            </div>
        </div>
       
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
                <label class="control-label">Data de conclusão</label>
                <input type="text" disabled="disabled" ui-mask="99/99/9999" model-view-value="true" maxlength="10" class="datepicker-here form-control dataFim" data-language='pt-BR' ng-model="controller.cadastroParam.dataFim">
            </div>
        </div>
        
    </form>

    <div class="lista-tarefas">

        <div class="col-xs-12 no-padding header-table">
            <h4>COLABORADORES</h4>
            <button class="pull-right btn btn-blue btn-block-xs" ng-disabled="controller.desabilitarAdicaoColaboradores" ng-hide="controller.desabilitarCamposObra" ng-click="controller.novoColaborador()" data-toggle="modal" data-target="#novo-colaborador">
                <i class="icon-obras" aria-hidden="true"></i>
                ADICIONAR COLABORADOR
            </button>
        </div>

        <div class="tabela table-responsive">
            <table class="table  table-striped table-responsive">

                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Cargo
                        </th>
                        <th class="fadeout-xs">
                            Telefone
                        </th>
                        <th class="fadeout-xs">
                            E-mail
                        </th>
                        <th class="fadeout-xs">
                            Perfil
                        </th>
                        <th colspan="2" scope="col">
                            AÇÕES
                        </th>

                    </tr>
                </thead>
                <tbody ng-hide="controller.cadastroParam.listaColaboradores.length > 0" class="">
                    <tr>
                        <td colspan="6">Nenhum registro encontrado.</td>
                    </tr>
                </tbody>
                <tbody ng-repeat="colaborador in controller.cadastroParam.listaColaboradores">
                    <tr>
                        <td>
                            {{colaborador.nome == '' || colaborador.nome == undefined ? '-' : colaborador.nome}}
                        </td>
                        <td>
                            {{colaborador.descricaoCargo == '' || colaborador.descricaoCargo == undefined ? '-' : colaborador.descricaoCargo}}
                        </td>
                        <td class="fadeout-xs">
                            {{controller.maskPhone(colaborador.telefonePrincipal) == '' || controller.maskPhone(colaborador.telefonePrincipal) == undefined ? '-' : controller.maskPhone(colaborador.telefonePrincipal)}}
                        </td>
                        <td class="fadeout-xs">
                            {{colaborador.email == '' || colaborador.email == undefined ? '-' : colaborador.email}}
                        </td>
                        <td class="fadeout-xs">
                            {{colaborador.descricaoGrupo == '' || colaborador.descricaoGrupo == undefined ? '-' : colaborador.descricaoGrupo}}
                        </td>
                        <td>
                            <a class="btn btn-simple btn-just-icon" data-toggle="modal" data-target="#novo-colaborador" ng-hide="!colaborador.excluivel || controller.desabilitarCamposObra" title="Editar" ng-click="controller.carregarEdicaoColaborador(colaborador)">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-simple btn-just-icon" ng-hide="!colaborador.excluivel || controller.desabilitarCamposObra" ng-click="controller.removerObraColaborador(colaborador, $index)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>
        <div class="col-xs-12 no-padding header-table">
            <h4>EQUIPAMENTOS</h4>
            <button class="pull-right btn btn-blue btn-block-xs" ng-hide="controller.desabilitarCamposObra" ng-click="controller.novoEquipamento()" data-toggle="modal" data-target="#novo-equipamento">
                <i class="icon-trator" aria-hidden="true"></i>
                ADICIONAR EQUIPAMENTOS
            </button>

        </div>
        <div class="tabela table-responsive">
            <table class="table  table-striped table-responsive">

                <thead>
                    <tr>
                        <th>
                            Tipo de Equipamento
                        </th>
                        <th>
                            Descrição
                        </th>
                        <th class="fadeout-xs">
                            Tipo de Aquisição
                        </th>
                        <th class="fadeout-xs">
                            Fabricante/Fornecedor
                        </th>
                        <th class="fadeout-xs">
                            Contato
                        </th>
                        <th class="fadeout-xs">
                            Telefone
                        </th>
                        <th colspan="2" scope="col">
                            ações
                        </th>

                    </tr>
                </thead>
                <tbody ng-hide="controller.cadastroParam.listaEquipamentos.length > 0" class="">
                    <tr>
                        <td colspan="7">Nenhum registro encontrado.</td>
                    </tr>
                </tbody>
                <tbody ng-show="controller.cadastroParam.listaEquipamentos.length > 0" ng-repeat="equipamento in controller.cadastroParam.listaEquipamentos">
                    <tr>
                        <td>
                            {{equipamento.tipoEquipamento == '' || equipamento.tipoEquipamento == undefined ? '-' : equipamento.tipoEquipamento }}
                        </td>
                        <td>
                            {{equipamento.descricao == '' || equipamento.descricao == undefined ? '-' : equipamento.descricao }}
                        </td>
                        <td class="fadeout-xs">
                            {{ equipamento.tipoAquisicao == 'C' ? "Compra" : equipamento.tipoAquisicao == 'A' ? "Aluguel" : "-" }}
                        </td>
                        <td class="fadeout-xs">
                            {{equipamento.fabricanteFornecedor == '' || equipamento.fabricanteFornecedor == undefined ? '-' : equipamento.fabricanteFornecedor }}
                        </td>
                        <td class="fadeout-xs">
                            {{equipamento.contato == '' || equipamento.contato == undefined ? '-' : equipamento.contato}}
                        </td>
                        <td class="fadeout-xs">
                            {{controller.maskPhone(equipamento.telefone) == '' || controller.maskPhone(equipamento.telefone) == undefined ? '-' : controller.maskPhone(equipamento.telefone)}}
                        </td>
                        <td class="fadeout-xs">
                            <a class="btn btn-simple btn-just-icon" data-toggle="modal" data-target="#novo-equipamento" permission="visualizarRegistro" ng-click="controller.preencherModalEquipamento(equipamento)">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-simple btn-just-icon" ng-hide="controller.desabilitarCamposObra" ng-click="controller.removerObraEquipamento(equipamento, $index)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>


        <div class="col-xs-12 no-padding">

            <div class="pull-right">
                <!--ng-disabled="controller.desabilitarCamposObra"-->
                <button class="btn btn-blue btn-block-xs" ng-hide="controller.desabilitarCamposObra || controller.telaCadastro" ng-click="controller.finalizarObra()">
                    <i class="icon-mao-finalizada" aria-hidden="true"></i>
                    FINALIZAR OBRA
                </button>

                <button class="btn btn-blue btn-block-xs" ng-click="controller.voltar()">
                    <!--ng-click="controller.voltar()"--><!--<i class="icon-close" aria-hidden="true"></i>-->
                    <i class="fa fa-arrow-left"></i>
                    Voltar
                </button>

                <button class="btn btn-blue btn-block-xs" ng-hide="controller.desabilitarCamposObra" ng-disabled="controller.desabilitarSalvarObra" ng-click="controller.salvar()">
                    <i class="icon-check" aria-hidden="true"></i>
                    SALVAR
                </button>

            </div>
        </div>

    </div>

    <div class="modal fade" id="novo-colaborador">
        <form id="form-cadastro-colaborador">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="icon-close"></i>
                        </button>
                        <div class="panel-heading">
                            <h4>COLABORADOR</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8 col-sm-8">
                                <div class="form-group is-empty">
                                    <label class="control-label">Perfil do Colaborador<span style="color:red">*</span></label>
                                    <select class="form-control ddlPerfilColaborador" ng-change="controller.verificaPerfilColaborador();" ng-model="controller.cadastroParam.colaboradorObj.grupo" ng-disabled="controller.desabilitarCamposColaborador2" ng-options="opt.id as opt.nome for opt in controller.grupos">
                                        <option value="">Selecione...</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">CPF<span ng-hide="controller.perfilColaborador" style="color:red">*</span></label>
                                    <input type="text" validate="minlength[14],maxlength[14]" ui-mask="999.999.999-99" maxlength="14" class="form-control txbCpfColaborador" ng-blur="controller.completarColaborador()" ng-disabled="controller.desabilitarCamposColaborador2 || controller.desabilitarCpf" ng-model="controller.cadastroParam.colaboradorObj.cpf">
                                    <span class="material-input"></span>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group" ng-if="(!controller.nomeColaboradorModoEdicao && !controller.desabilitarCamposColaborador) || controller.desabilitarCpf">
                                    <label class="control-label">Nome<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" maxlength="50" ng-model="controller.cadastroParam.colaboradorObj.nome">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" ng-if="(controller.desabilitarCamposColaborador && !controller.desabilitarCpf) || controller.nomeColaboradorModoEdicao">
                                <div class="form-group">
                                    <label class="control-label">Nome<span style="color:red">*</span></label>
                                    <input type="text" maxlength="50" class="form-control txbNomeColaborador" ng-disabled="controller.desabilitarCamposColaborador" ng-model="controller.cadastroParam.colaboradorObj.nome" ng-blur="controller.completarColaboradorNome()">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group is-empty">
                                <label class="control-label">Cargo<span style="color:red">*</span></label>
                                <select class="form-control txbCargoColaborador" ng-model="controller.cadastroParam.colaboradorObj.cargo" ng-disabled="controller.desabilitarCamposColaborador2" ng-options="car.id as car.nome for car in controller.cargos">
                                    <option value="">Selecione...</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group is-empty">
                                <label class="control-label">Sexo<span ng-hide="controller.perfilColaborador" style="color:red">*</span></label>
                                <select class="form-control ddlSexoColaborador" ng-model="controller.cadastroParam.colaboradorObj.sexo" ng-disabled="controller.desabilitarCamposColaborador" ng-options="sx.id as sx.nome for sx in controller.sexo">
                                    <option value="">Selecione...</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Data de Nascimento<span ng-hide="controller.perfilColaborador" style="color:red">*</span></label>
                                <input type="text" class="datepicker-here form-control dataNascimento" validate="dateBR, date" placeholder="dd/mm/aaaa" ng-disabled="controller.desabilitarCamposColaborador" data-language='pt-BR' value="" ng-model="controller.cadastroParam.colaboradorObj.dataNascimento">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Telefone Principal<span ng-hide="controller.perfilColaborador" style="color:red">*</span></label>
                                <input id="telefonePrincipal" data-inputmask-clearmaskonlostfocus="false" type="text" class="form-control txbTelefonePrincipalColaborador" maxlength="15" placeholder="" ng-disabled="controller.desabilitarCamposColaborador" ng-model="controller.cadastroParam.colaboradorObj.telefonePrincipal">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Telefone Secundário</label>
                                <input id="telefoneSecundario" data-inputmask-clearmaskonlostfocus="false" type="text" class="form-control txbTelefoneSecundarioColaborador" maxlength="15" placeholder="" ng-disabled="controller.desabilitarCamposColaborador" ng-model="controller.cadastroParam.colaboradorObj.telefoneSecundario">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">E-mail<span ng-hide="controller.perfilColaborador" style="color:red">*</span></label>
                                <input type="text" class="form-control txbEmailColaborador" maxlength="50" ng-disabled="controller.desabilitarCamposColaborador" ng-model="controller.cadastroParam.colaboradorObj.email">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">CREA</label>
                                <input type="text" class="form-control txbCreaColaborador" ng-disabled="controller.desabilitarCamposColaborador" maxlength="20" ng-model="controller.cadastroParam.colaboradorObj.crea">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Data da Contratação</label>
                                <input type="text" class="datepicker-here form-control dataContratacao" ng-disabled="controller.desabilitarCamposColaborador2" placeholder="dd/mm/aaaa" data-language='pt-BR' value="" ng-model="controller.cadastroParam.colaboradorObj.dataContratacao">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-8 col-sm-8">
                            <div class="form-group">
                                <label class="control-label">Logradouro<span ng-hide="controller.perfilColaborador" style="color:red">*</span></label>
                                <input type="text" class="form-control txbLogradouroColaborador" maxlength="50" ng-disabled="controller.desabilitarCamposColaborador" ng-model="controller.cadastroParam.colaboradorObj.logradouro">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Número</label>
                                <input type="text" class="form-control txbNumeroEnderecoColaborador" maxlength="5" ng-disabled="controller.desabilitarCamposColaborador" ng-model="controller.cadastroParam.colaboradorObj.numeroEndereco">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Complemento</label>
                                <input type="text" class="form-control txbComplementoColaborador" maxlength="50" ng-disabled="controller.desabilitarCamposColaborador" ng-model="controller.cadastroParam.colaboradorObj.complemento">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Bairro</label>
                                <input type="text" class="form-control txbBairroColaborador" maxlength="50" ng-disabled="controller.desabilitarCamposColaborador" ng-model="controller.cadastroParam.colaboradorObj.bairro">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group is-empty">
                                <label class="control-label">UF<span ng-hide="controller.perfilColaborador" style="color:red">*</span></label>
                                <select class="form-control ddluf" ng-disabled="controller.desabilitarCamposColaborador" ng-model="controller.cadastroParam.colaboradorObj.uf" ng-change="controller.carregaListaMunicipioColaborador('cadastro')" ng-options="opt.idUF as opt.uf for opt in controller.ufsColaborador">
                                    <option value="">Selecione...</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group is-empty">
                                <label class="control-label">Município<span ng-hide="controller.perfilColaborador" style="color:red">*</span></label>
                                <select ng-disabled="controller.desabilitarCamposColaborador" class="form-control ddlmunicipio" ng-model="controller.cadastroParam.colaboradorObj.idMunicipio" ng-options="mun.idMunicipio as mun.municipio for mun in controller.municipiosColaborador">
                                    <option value="">Selecione...</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">CEP</label>
                                <input type="text" class="form-control txbCepColaborador" autocomplete="off" ui-mask="99999-999" maxlength="9" ng-disabled="controller.desabilitarCamposColaborador" placeholder="" ng-model="controller.cadastroParam.colaboradorObj.cep">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div ng-hide="controller.perfilColaborador">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Senha<span style="color:red">*</span></label>
                                    <input type="password" class="form-control txbSenhaColaborador" maxlength="20" ng-disabled="controller.desabilitarCamposColaborador" ng-model="controller.cadastroParam.colaboradorObj.senha">
                                    <span class="material-input"></span>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Confirmação Senha<span style="color:red">*</span></label>
                                    <input type="password" class="form-control txbSenhaColaborador" maxlength="20" ng-disabled="controller.desabilitarCamposColaborador" ng-model="controller.cadastroParam.colaboradorObj.confirmacaoSenha">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-simple" data-dismiss="modal">
                                <i class="icon-close" aria-hidden="true" ng-click="controller.limparModalColaborador()"></i>
                                Cancelar
                            </button>
                            <button type="button" class="btn btn-default btn-simple" ng-disabled="controller.desabilitarCamposColaborador2" ng-click="controller.adicionarColaborador()">
                                <i class="icon-check" aria-hidden="true"></i>
                                Adicionar
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="novo-equipamento">
        <form id="form-cadastro-equipamento">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="icon-close"></i>
                        </button>
                        <div class="panel-heading">
                            <h4>Equipamento</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Tipo de Equipamento<span style="color:red">*</span></label>
                                <select class="form-control" ng-disabled="controller.habilitarCamposEquipamento" ng-model="controller.cadastroParam.equipamentoObj.idTipoEquipamento" ng-options="t.id as t.nome for t in controller.tiposEquipamentos">
                                    <option value="">Selecione...</option>
                                </select>
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Descrição<span style="color:red">*</span></label>
                                <input type="text" class="form-control" maxlength="50" ng-disabled="controller.desabilitarCamposEquipamento" ng-model="controller.cadastroParam.equipamentoObj.descricao">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Marca</label>
                                <select class="form-control" maxlength="50" ng-disabled="controller.habilitarCamposEquipamento" ng-model="controller.cadastroParam.equipamentoObj.marca" ng-options="tp.id as tp.nome for tp in controller.marcas">
                                    <option value="">Selecione...</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Modelo</label>
                                <select class="form-control" maxlength="50" ng-disabled="controller.habilitarCamposEquipamento" ng-model="controller.cadastroParam.equipamentoObj.modelo" ng-options="tp.id as tp.nome for tp in controller.modelos">
                                    <option value="">Selecione...</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group is-empty">
                                <label class="control-label">Tipo de Aquisição</label>
                                <select class="form-control" ng-disabled="controller.desabilitarCamposEquipamento" ng-model="controller.cadastroParam.equipamentoObj.tipoAquisicao" ng-options="tp.id as tp.nome for tp in controller.tipoAquisicao">
                                    <option value="">Selecione...</option>
                                </select>
                            </div>
                        </div>

                        <div class="clearfix"></div>


                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Data da Aquisição</label>
                                <input type="text" ng-disabled="controller.desabilitarCamposEquipamento" ui-mask="99/99/9999" model-view-value="true" class="datepicker-here form-control dataAquisicao" data-language='pt-BR' value="" ng-model="controller.cadastroParam.equipamentoObj.dataAquisicao">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Fornecedor/Fabricante</label>
                                <input type="text" ng-disabled="controller.desabilitarCamposEquipamento" class="form-control" ng-model="controller.cadastroParam.equipamentoObj.fabricanteFornecedor">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Contato</label>
                                <input type="text" ng-disabled="controller.desabilitarCamposEquipamento" maxlength="50" class="form-control" ng-model="controller.cadastroParam.equipamentoObj.contato">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Telefone</label>
                                <input type="text" id="telefone" ng-disabled="controller.desabilitarCamposEquipamento" maxlength="15" class="form-control" placeholder="" ng-model="controller.cadastroParam.equipamentoObj.telefone">
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                    </div>

                    <div class="modal-footer">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-simple" data-dismiss="modal" ng-click="controller.limparModalEquipamento()">
                                <i class="icon-close" aria-hidden="true"></i>
                                Cancelar
                            </button>
                            <button type="button" class="btn btn-default btn-simple" ng-disabled="controller.desabilitarCamposEquipamento" ng-click="controller.adicionarEquipamento()">
                                <i class="icon-check" aria-hidden="true"></i>
                                Adicionar
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </form>
    </div>

</section>

<script>

    $(document).ready(function () {
        $('.ddlContratante').attr('disabled', 'disabled');
        $('.ddlContratada').attr('disabled', 'disabled');

        $('input[type=radio][name=optionsRadios]').change(function () {
            if (this.value == 't') {
                $('.ddlContratante').removeAttr('disabled');
                $('.ddlContratada').attr('disabled', 'disabled');
            }
            else if (this.value == 'd') {
                $('.ddlContratada').removeAttr('disabled');
                $('.ddlContratante').attr('disabled', 'disabled');
            }
        });

        $("input#telefonePrincipal").inputmask({
            mask: ["(99) 9999-9999", "(99) 99999-9999", ],
            keepStatic: true
        });      

        $("input#telefoneSecundario").inputmask({
            mask: ["(99) 9999-9999", "(99) 99999-9999", ],
            keepStatic: true
        });

        $("input#telefone").inputmask({
            mask: ["(99) 9999-9999", "(99) 99999-9999",],
            keepStatic: true
        });
    });

</script>