<div class="login">
    <div ng-controller="LoginController as controller">
        <img class="logo" src="Assets/images/logo.png" alt="">
        <h2>Esqueci a Senha</h2>
        <div class="col-xs-12">
            <div class="input-group">

                <div class="form-group is-empty">
                    <input type="text" ng-model="controller.filter.email" class="form-control" placeholder="E-MAIL CADASTRADO">
                    <span class="material-input">
                    </span>
                </div>
                <span class="input-group-addon">
                    <i class="fa fa-envelope-o"></i>
                </span>
            </div>
        </div>
        <div class="col-xs-12">

            <div class="input-group">

                <div class="form-group is-empty">
                    <input type="text" ng-model="controller.filter.cpf" ui-mask="999.999.999-99" maxlength="14" class="form-control" placeholder="000.000.000-00">
                    <span class="material-input">

                    </span>
                </div>
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
            </div>
        </div>
        

        <div class="col-sm-6 col-xs-12">
            <button class="btn btn-block btn-cancel btn-maior" ng-click="controller.voltar()">
                <i class="fa fa-times" aria-hidden="true"></i>
                CANCELAR
            </button>
        </div>
        <div class="col-sm-6 col-xs-12">
            <button class="btn btn-block btn-blue btn-maior" ng-click="controller.recuperarSenha()">
                <i class="fa fa-check" aria-hidden="true"></i>
                ENVIAR
            </button>
        </div>
    </div>
</div>


